.container {
    border: 1px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.select-container {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

.country {
    border: 1px solid green;
    margin: 30px;
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    .select-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }
    .select-container {
        flex-direction: row;
    }
    .country {
        flex-direction: row;
    }
}