* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-body {
  height: 540px;
  background-image: url("https://i.pinimg.com/originals/e4/39/27/e43927ab61f1392823eee6242992cf78.jpg");
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerRio {
 width: 250px;
 height: 200px;
}
.headerOlimp {
  width: 250px;
  height: 180px;
} */

.slider {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;

}

@keyframes cambio {
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}


.menuh2 {
  border: 1px solid black;
  padding: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.select-container {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.table {
  border: 1px solid green;
  margin: 30px;
  padding: 20px;
  align-items: center;
}

.tableSport {
  border: 1px solid purple;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title-country {
  border: 1px solid orangered;
  margin: 10px;
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  .select-container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .tableSport {
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .menuh2 {
    flex-direction: row;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .select-container {
    flex-direction: row;
  }
  .country {
    flex-direction: row;
  }
}